html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input#passwordConfirm {
    margin-top: 0;  
}
label[for=password]{

    margin-top: 15px;   
}
label[for=passwordConfirm]{

    margin-top: 15px;   
}


html{
    position: relative;
}

body {
    background: url("../images/bg.gif") repeat-x scroll 0 0 transparent;
    font-family: Arial, Helvetica, sans-serif;
    color: #690469;
}

body.layout{
    background: #F3F3F4;
}

a{
    color: #690469;
    text-decoration: none;
}

a:hover{
    color: #000;
}

.loginRegisterBg{
    background: url("../images/bg.gif") repeat-x scroll 0 0 transparent;
}

.loginRegisterBg .topMenu{
    display: block;
    clear: both;
    float: none;
}

.topMenuFB{
    float: right;
}

.loginRegisterBg .backgroundContainer{
    clear: both;
    margin-top: 5px;
}

.contener{
    width: 954px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    
}

.footer{
    background: url('../images/bgFooter.gif') repeat-x;
    width: 100% !important;
    height: 30px;
    padding: 1px 0 0;
    line-height: 30px;
    margin-top: 33px;
    font-size: 11px;
    color: #999;
    overflow: hidden;
}

.footerRight{
    float: right;
    margin: 0 20px 0 0;
}

.footerRight a{
    margin: 0 0 0 16px;
}

.footerLeft, .footerButton{
    float: left;
    margin-left: 20px;
}

.footerButton{
    background: #fff;
    border: 1px solid #e4e4e4;
    height: 18px;
    line-height: 18px;
    padding: 0 9px;
    margin: 5px 10px 0 0;
    cursor: pointer;
}

.topMenu{
    height: 73px;
    border-bottom: 1px solid #ebeceb;
    font-family: Georgia;
    font-size: 14px;
    line-height: 33px;
    text-align: right;
    width: 934px;
    padding: 0px 20px;
}

.topMenuSmaller, .topMenuFB{
    font-size: 12px;
    margin: 0 0 0 25px;
}

.regBox {
    margin:0 0 21px;
    width:854px;
    height:270px;
    float:right;
    background: url('../images/regShadow.png') right bottom no-repeat;
    padding:0 4px 4px 0;
}

.regBoxInner {
    border:2px solid #ececec;
    background: url('../images/regInnerBg.png') #fff left bottom repeat-x;
    height:266px;
}



.regHeader {
    height:40px;
    font-size:24px;
    font-family:Georgia;
    color:#680268;
    background: url('../images/regHeader.png') left top repeat-x;
    line-height:40px;
}

.regHeader a {
    float:left;
    display:block;
    margin:5px 10px 5px 20px;
}

.regBoxInner form {
    width:614px;
    margin:15px 15px 0 0;
    float:right;
}

.defaultForm{
    overflow:hidden;
}

.defaultForm input[type='text'], .defaultForm input[type='password'], defaultForm select{
    background: url('../images/formInputBg.gif') no-repeat left top;
    border: 2px solid #fff;
    height: 22px;
    line-height: 22px;
    width: 206px;
    padding: 0px 10px;
    margin-bottom:5px;
    float: left;
}

.defaultForm label{
    width: 156px;
    line-height: 26px;
    height: 26px;
    float: left;
    font-family: Georgia;
    color: #000;
    text-align: right;
    font-size: 14px;
    padding: 0 9px 0 0;
}

.defaultForm .rememberLogin{
    float: left;
    margin: 5px 0 0 0;
    width: 415px;
    border-top: 1px solid #FF9A57;
}

.defaultForm .rememberLogin #login-label{
    display: none;
}

.defaultForm .rememberLogin input{
    float: right;
    margin: 10px 0 0 0;
}


.defaultForm div.formError{
    width: 200px;
    color: #fc0000;
    font-size: 12px;
    font-family: Georgia;
    font-style: italic;
    height: 15px;
    line-height: auto;
    padding: 7px 0 0 10px;
    float: left;
}

.defaultForm input.formError{
    border: 2px solid #fc0000;
}

.regBottom {
    float:left;
    margin:10px 0 0;
    width:418px;
    border-top:1px solid #ff9a57;
}


.regBoxInner .defaultForm fieldset div.orangeSpacer{
    border-top: 1px solid #FF9A57;
    float: left;
    height: 1px;
    width: 415px;
    margin-top: 10px;
    clear: both;
    margin-right: 120px !important;
}

.regBoxInner .defaultForm fieldset div.registerSubmit{
    float: right;
    width: 347px;
    clear: none;
}

.regBoxInner .defaultForm fieldset div.registerSubmit dt{
    display: none;
}

.regBoxInner .defaultForm fieldset div.registerTerms{
    float: left;
    clear: none;
    width: 250px;
    margin: 10px 0 0;
    height: auto;
}

.regBoxInner .defaultForm fieldset div.registerTerms dd{
    float: left;
}

.regBoxInner .defaultForm fieldset div.registerTerms{
    position: relative;
    height: 50px;
}

.regBoxInner .defaultForm fieldset div.registerTerms dd ul{
    position: absolute;
    top: 15px;
    text-align: center;
}

.regBoxInner .defaultForm fieldset div.registerTerms dt{
    float: right;
}

.regBoxInner .defaultForm fieldset div.registerTerms label{
    font-size: 10px;
    line-height: 20px;
    text-align: left;
    width: 220px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    height: auto;
}

.regBoxInner .defaultForm fieldset div.registerTerms input{
    float: left;
}
.defaultForm{
    overflow:hidden;
}

.defaultForm fieldset{
    border: 2px solid #ececec;
    margin: 0 108px 0;
    display: block;
}

.regBoxInner .defaultForm{
    width: 660px;
    /*width: 614px;*/
}

.regBoxInner .defaultForm fieldset{
    border: 0;
    margin: 0 0 0;
    display: block;
}

.regBoxInner .defaultForm fieldset ul.errors{
    float: left;
    width: 255px;
    /*width: 214px;*/
    padding: 0 0 0 10px;
    line-height: 24px;
}

.regBoxInner .defaultForm fieldset div{
    float: left;
    clear: both;
    margin: 5px 0 0;
}

.regBoxInner .defaultForm fieldset label, .regBoxInner .defaultForm fieldset input{
    margin: 0;
    float: left;
}

.defaultForm fieldset legend{
    color: #000;
    font-family: Georgia;
    font-size: 18px;
    margin: 0 0 0 10px;
    padding: 0 7px;
}

.defaultForm input[type='text']{
    background: url('../images/formInputBg.gif') no-repeat left top;
    border: 2px solid #fff;
    height: 22px;
    line-height: 22px;
    width: 206px;
    padding: 0px 10px;
    float: left;
}

.defaultForm input[type='checkbox']{
    float: left;
    margin: 4px 0 0 2px !important;
}

.defaultForm label{
    width: 156px;
    line-height: 26px;
    height: 26px;
    float: left;
    font-family: Georgia;
    color: #000;
    text-align: right;
    font-size: 14px;
    padding: 0 9px 0 0;
}

.whiteBg{
    background: #fff;
}

.defaultForm ul.errors{
    width: 285px;
    color: #fc0000;
    font-size: 12px;
    font-family: Georgia;
    font-style: italic;
    height: 15px;
    line-height: auto;
    padding: 0 0 0 168px;
    float: left;
}

.defaultForm input.formError{
    border: 2px solid #fc0000;
}

.formSpacer{
    margin: 70px 0;
    overflow: hidden;
}

.formRemember{
    height: 31px;
    width: 100%;
    background: #fafafa;
    line-height: 31px;
}

.formRemember input{
    background: none;
    width: auto;
    float: left;
    margin: 8px 0 0 20px;
}

.formRemember label{
    float: left;
    width: auto;
    font-size: 12px;
    line-height: 31px;
    height: 31px;
    margin-left: 8px;
}

.leftMargin20{
    float: left;
    margin-left: 20px;
}

input.formRegister{
    background: url('../images/registerFormBtnBg.gif') repeat-x;
    color: #fff;
    font-family: Georgia;
    font-size: 18px;
    width: auto;
    height: 31px;
    line-height: 28px;
    *line-height: 26px;
    *padding: 0 5px;
    *width: 110px;
    border: none;
    padding: 0 15px;
    float: right;
    margin: 10px 108px 0 0;
    cursor: pointer;
}

input.categoryManagement{
    background: url('../images/registerFormBtnBg.gif') repeat-x;
    color: #fff;
    font-family: Georgia;
    font-size: 15px;
    width: auto;
    height: 20px;
    line-height: 28px;
    *line-height: 26px;
    *padding: 0 5px;
    *width: 110px;
    border: none;
    padding: 0 1px;
    float: right;
    margin: 0px 108px 0 0;
    cursor: pointer;
}
.categoryManagementButton{
    background: url('../images/registerFormBtnBg.gif') repeat-x;
    color: #fff;
    margin: 5px 10px;
    cursor: pointer;
    
}

.suggestionsButton{
    background: url('../images/registerFormBtnBg.gif') repeat-x;
    color: #fff;
    margin: 5px 10px;
    cursor: pointer;
    
}
.editItem{
    cursor: pointer;
}

table.suggestions {
    border-collapse: collapse;
    border-color: #6CB8E9;
    border-spacing: 2px;
    border-style: none;
    border-width: thin;
    margin-top: 20px;
}
table.suggestions th {
    background-color: #FFFFFF;
    border-color: #6CB8E9;
    border-style: outset;
    border-width: 1px;
    padding: 5px 10px;
}
table.suggestions td {
    border-color: #6CB8E9;
    border-style: outset;
    border-width: 1px;
    padding: 4px 8px;
}
table.suggestions tbody tr td {
    background-color: #FFFFFF;
}
table.suggestions tbody tr.color2 td {
    background-color: #B2DBF6;
}
table.suggestions tbody tr td.highlighted {
    background-color: #4CA1D8;
}
table.suggestions_targets {
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-color: #6CB8E9;
    border-spacing: 2px;
    border-style: none;
    border-width: thin;
}
table.suggestions_targets th {
    border-color: #6CB8E9;
    border-style: outset;
    border-width: 1px;
    padding: 5px 10px;
}
table.suggestions_targets td {
    border-color: #6CB8E9;
    border-style: outset;
    border-width: 1px;
    padding: 10px;
}
table.suggestions_targets td.highlighted {
    background-color: #4CA1D8;
}
.searchResultsPager{
    text-align: center;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 12px;
    margin: 0 0 15px 0;
    z-index: 5;
}
.searchResultsItems{
    padding: 0 15px;
    width: 674px;
    background: #fff;
    border-right: 1px solid #e2e2e3;
}
.pagerNoBorder{
    border-bottom: none;
    margin: 0 0 5px 0;
    clear: both;
}


.searchResultsPager ul{
    position: relative;
}

.searchResultsPager ul li{
    display: inline;
    padding: 4px 8px 2px;
    font-size: 12px;
    cursor: pointer;
}

.searchResultsPager ul li.active{
    background: #999;
}

.searchResultsPager ul li.active a{
    color: #fff;
}

.searchResultsPager span.nextPage{
    position: absolute;
    right: 0;
    font-size: 11px;
    *top: -5px;
}

.searchResultsPager span.prevPage{
    position: absolute;
    left: 0;
    font-size: 11px;
    *top: -5px;
}

table.padded-table td { 
    padding:10px; 
    border: 2px solid black;
}

input.formSubmit {
    background: url("../images/registerFormBtnBg.gif") repeat-x scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Georgia;
    font-size: 16px;
    height: 24px;
    line-height: 22px;
    width: auto;
}

.mainTabs{
    height: 95px;
}

.suggestionsMain, .suggestionsTabs{
    font-family: Georgia;
    width: 361px;
    height: 95px;
    color: #000;
    float: left;
}

.suggestionsMain span{
    line-height: 26px;
    clear: both;
    display: block;
    font-size: 24px;
}

.suggestionsMainGray{
    color: #6b6b6b;
    margin: 28px 0 0 0;
}

.suggestionsMainBlack{
    text-indent: 12px;
}

.suggestionsTabs{
    width: 393px;
    font-family: Arial, Helvetica, sans-serif;
}

.suggestionTabsCont{
    margin: 69px 0 0 0;
}

.suggestionTabItem{
    text-align: center;
    float: left;
    height: 26px;
    width: 130px;
    font-size: 14px;
    color: #690469;
    line-height: 26px;
    background: url('../images/suggestionItemBg.gif') repeat-x #fff;
    border-right: 1px solid #edeceb;
    cursor: pointer;
}

.suggestionTabsCont .active{
    background-image: none;
    color: #000;
    border-right: 1px solid #fff;
}

.mainDisplayedTabs{
    height: 135px;
}

.mainDisplayedItem{
    height: 135px;
}

.autumn{
    background: url('../images/autumnBg.gif') no-repeat top left #fff;
    color: #ff6600;
}

.trickOrTreat{
    background: url('../images/trickOrTreatBg.gif') no-repeat top left #fff;
}

.jingleBells{
    background: url('../images/jingleBellsBg.gif') no-repeat top left #fff;
    color: #4a7bb3;
}

.mainDisplayedTabs #tab2, .mainDisplayedTabs #tab3{
    display:none
}

.mainDisplayedTabTitle{
    height: 42px;
    text-align: right;
    font-size: 30px;
    line-height: 34px;
    padding-top: 20px;
    font-family: Georgia;
}

.mainDisplayedTabProducts{
    text-align: right;
    color: #690469
}

.proposedProducts{
    border-top: 1px solid #e1e0e1;
    float: right;
    width: 540px;
}

.mainDisplayedTabProducts span{
    height: 42px;
    margin: 6px 0 0 0;
    float: right;
    font-size: 14px;
    margin: 6px 0 0 24px;
    padding: 0 0 0 38px;
    line-height: 23px;
}

.mainDisplayedTabProducts span.first{
    margin-left: 0px;
}

.mainDisplayedTabProducts span.umbrella{
    background: url('../images/itemUmbrella.gif') no-repeat left top;
}

.mainDisplayedTabProducts span.coat{
    background: url('../images/itemCoat.gif') no-repeat 8px top;
}

.mainDisplayedTabProducts span.cap{
    background: url('../images/itemCap.gif') no-repeat left top;
}

.mainDisplayedTabProducts span.wellington{
    background: url('../images/itemWellington.gif') no-repeat 5px top;
}



.regBox {
    margin:0 0 21px;
    width:854px;
    height:270px;
    float:right;
    background: url('../images/regShadow.png') right bottom no-repeat;
    padding:0 4px 4px 0;
}

.regBoxInner {
    border:2px solid #ececec;
    background: url('../images/regInnerBg.png') #fff left bottom repeat-x;
    height:266px;
}

.clear {
    clear:both;
}

.regDisplayedTabs, .regMainTabs {
    margin-left:100px;
}

.regDisplayedTabs .mainDisplayedItem {
    width: 763px;
}

.regSuggestionsTabs {
    width:492px;
}

.regSuggestionsTabs .suggestionTabsCont {
    padding-left:10px;
}

.regHeader {
    height:40px;
    font-size:24px;
    font-family:Georgia;
    color:#680268;
    background: url('../images/regHeader.png') left top repeat-x;
    line-height:40px;
}

.regHeader a {
    float:left;
    display:block;
    margin:5px 10px 5px 20px;
}

.regBoxInner form {
    width:614px;
    margin:15px 15px 0 0;
    float:right;
}

table.padded-table td { 
    padding:10px; 
    border: 2px solid black;
}

ul.errors {
color: #FC0000;
font-size: 12px;
font-family: Georgia;
font-style: italic;
}

.contener td {
	padding: 4px;
}
h1.contacts {
	padding: 3px 0 20px 129px;
}
.topMenu a.menu {
	padding: 0 10px;
}
.backgroundContainer select{
    background: url('../images/formInputBg.gif') no-repeat left top;
    border: 2px groove #fff;
    height: 25px;
    line-height: 22px;
    width: 235px;
    
    margin-bottom:5px;
}
.datePickers img {
	width: 20px;
}
.error {
    color: #ff0000;
}
 
.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}